<span
  class="user-badge
    {{@badge.badgeTypeClassName}}
    {{unless @badge.enabled 'disabled'}}"
  data-badge-name={{@badge.name}}
>
  {{icon-or-image @badge}}
  <span class="badge-display-name">{{@badge.name}}</span>
  <DTooltip>
    {{@badge.name}}
  </DTooltip>
</span>
